
.about{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    width: 100vw;
}
.aboutIntro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5rem 0;
}
.aboutIntro h2{
    width: 45%;
}
.whyChooseUs{
    padding-top: 2.5rem 0;
}
.introPartition{
    height: 200px;
    width: 0;
    display: block;
    border-left: 1px solid #ffffff41;
}
.criminalLawyer{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.criminalLawyer h3{
    font-size: 32px;
}
.criminalLawyer p{
    font-size: 16px;
    opacity: 0.3;
    margin-top: 1rem;
}

.whyChooseUs h2{
    width: 100%;
    text-align: center;
    /* margin-bottom: 1rem; */
}
.whyChooseUsCard-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.whyChooseUsCard{
    border: 1.4px solid rgba(255, 255, 255, 0.10);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    transition: all 250ms;
}
.whyChooseUsCard:hover{
    background-color: rgba(255, 255, 255, 0.10);
}

.iconContainer{
    width: 101px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHead{
    font-size: 24px;
}
.cardDesc{
    font-size: 14px;
    opacity: 0.3;
}
.cardButton{
    background-color: var(--color-primary);
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 54px;
    color: #000;
}


/* screens below 1000px */
@media screen and (max-width: 1000px){
    .iconContainer{
        width: 80px;
    }
    .iconContainer img{
        max-width: 50px;
    }
    .cardHead{
        font-size: 20px;
    }
    .cardDesc{
        font-size: 12px;
    }
}

/* screens below 900px */
@media screen and (max-width: 900px){
    .criminalLawyer h3{
        font-size: 20px;
    }
    .criminalLawyer p{
        font-size: 14px;
    }
}
/* screens below 775px */
@media screen and (max-width: 775px){
    .whyChooseUsCard-wrapper{
        flex-direction: column;
    }
    .whyChooseUsCard{
        width: 100%;
    }
}
/* screens below 500px */
@media screen and (max-width: 500px){
    .aboutIntro{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0;
    }
    .aboutIntro h2, .criminalLawyer{
        width: 100%;
    }
    .introPartition{
        height: 0;
        width: 80%;
        border-bottom: 1px solid #ffffff41;
        margin: 2rem 0;
    }
}