
.common-padding{
    padding: 2.5rem 10rem;
}

.common-h2{
    font-size: 54px !important;
    font-weight: 600 !important;
    line-height: 143.023% !important;
}
/* screens below 1375px */
@media screen and (max-width: 1375px){
    .common-padding{
        padding: 2.5rem 8rem;
    }
}
/* screens below 1100px */
@media screen and (max-width: 1100px){
    .common-padding{
        padding: 2.5rem 5rem;
    }
}
/* screens below 900px */
@media screen and (max-width: 900px){
    .common-padding{
        padding: 2.5rem 3rem;
    }
    .common-h2{
        font-size: 32px !important;
    }
}
/* screens below 500px */
@media screen and (max-width: 500px){
    .common-padding{
        padding: 2.5rem 2rem;
    }
    .common-h2{
        font-size: 28px !important;
    }
}